{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "ONESPAN SIGN API",
    "termsOfService" : "https://www.onespan.com/terms-and-conditions",
    "contact" : {
      "name" : "API Support",
      "email" : "support@onespan.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version" : "11.51"
  },
  "servers" : [ {
    "url" : "https://sandbox.esignlive.com",
    "description" : "Sandbox"
  } ],
  "tags" : [ {
    "name" : "Account Custom Fields"
  }, {
    "name" : "Account Roles"
  }, {
    "name" : "Account Signing Logos"
  }, {
    "name" : "Account Signing Themes"
  }, {
    "name" : "Approvals"
  }, {
    "name" : "Authentication Tokens"
  }, {
    "name" : "Callback"
  }, {
    "name" : "Data Management"
  }, {
    "name" : "Documents"
  }, {
    "name" : "File Attachments"
  }, {
    "name" : "Groups"
  }, {
    "name" : "IDV Workflow Configuration"
  }, {
    "name" : "Layouts"
  }, {
    "name" : "Notifications"
  }, {
    "name" : "Packages"
  }, {
    "name" : "Password Policy"
  }, {
    "name" : "Reminders"
  }, {
    "name" : "Reports"
  }, {
    "name" : "Roles"
  }, {
    "name" : "Roles Verification"
  }, {
    "name" : "Senders"
  }, {
    "name" : "Sessions"
  }, {
    "name" : "Signature Image Extraction"
  }, {
    "name" : "Signing URL"
  }, {
    "name" : "Templates"
  }, {
    "name" : "Virtual Room"
  } ],
  "paths" : {
    "/api/account/customfields" : {
      "get" : {
        "tags" : [ "Account Custom Fields" ],
        "summary" : "Retrieves all custom fields in an account.",
        "description" : "Retrieves all custom fields in an account. Custom fields can be sorted using pagination.",
        "operationId" : "api.account.customFields.get",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "The first record that will be returned. Useful for pagination.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "The last record that will be returned. Useful for pagination.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dir",
          "in" : "query",
          "description" : "The direction according to which the data will be sorted. 'asc' for ascending and 'desc' for descending.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "asc", "desc" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomField"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Account Custom Fields" ],
        "summary" : "Updates an account custom field.",
        "description" : "Updates an account custom field with information specified in the parameters.",
        "operationId" : "api.account.customFields.put",
        "requestBody" : {
          "description" : "The custom field to be updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CustomField"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomField"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "403" : {
            "description" : "Access Denied error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Account Custom Fields" ],
        "summary" : "Adds a custom field to an account.",
        "description" : "Adds a custom field to an account.",
        "operationId" : "api.account.customFields.post",
        "requestBody" : {
          "description" : "The custom field to be created.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CustomField"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomField"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "403" : {
            "description" : "Access Denied error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/customfields/{customFieldId}" : {
      "get" : {
        "tags" : [ "Account Custom Fields" ],
        "summary" : "Retrieves an account specified custom field.",
        "description" : "Retrieves an account custom field by using the specified ID.",
        "operationId" : "api.account.customFields._customFieldId.get",
        "parameters" : [ {
          "name" : "customFieldId",
          "in" : "path",
          "description" : "ID of the Custom Field.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "DOB"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomField"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid field Id"
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Account Custom Fields" ],
        "summary" : "Deletes an account custom field by its ID.",
        "description" : "Deletes a custom field using the specified ID.",
        "operationId" : "api.account.customFields.delete",
        "parameters" : [ {
          "name" : "customFieldId",
          "in" : "path",
          "description" : "ID of the Custom Field.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "DOB"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Validation error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "403" : {
            "description" : "Access Denied error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/accessibleaccounts" : {
      "get" : {
        "tags" : [ "SubAccounts" ],
        "summary" : "Retrieves a list of the subaccounts.",
        "description" : "The sub-accounts feature enables an organization to create child accounts within the organization's master account. For example, an organization might want to create child accounts on the basis of its departments, geographical locations, or lines of business. Accounts can be created on three levels (parent > child > grandchild), enabling an organization to manage many account types under its master account.",
        "operationId" : "api.account.accessibleaccounts.get",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AccessibleAccountResponse"
                  },
                  "x-content-type" : "application/json"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/subaccountApiKeys" : {
      "get" : {
        "tags" : [ "SubAccounts" ],
        "summary" : "Retrieves a list of API keys for this current user in the subaccounts.",
        "description" : "Retrieves a list of API keys for this current user in the subaccounts. This current user should have User Management, Sub Account Management and Api Access permission in different sub account in order to get the Api Key.",
        "operationId" : "api.account.subaccountApiKeys.get",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SubAccountApiKeys"
                  },
                  "x-content-type" : "application/json"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/subaccounts" : {
      "get" : {
        "tags" : [ "SubAccounts" ],
        "summary" : "Retrieves a list of the subaccounts.",
        "description" : "Retrieves a list of the accounts which is subaccount of current account.",
        "operationId" : "api.account.subAccounts.get",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Account"
                  },
                  "x-content-type" : "application/json"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "SubAccounts" ],
        "summary" : "Creates a new subaccount for the current account.",
        "description" : "Sub-accounts enable an organization to create child accounts within the organization's master account. For example, an organization might want to create child accounts on the basis of its departments, geographical locations, or lines of business. Accounts can be created on three levels, parent, child, grandchild. This enables an organization to manage many account types under its master account.",
        "operationId" : "api.account.subAccounts.post",
        "requestBody" : {
          "description" : "The subAccount payload.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubAccount"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/subaccounts/{accountId}" : {
      "put" : {
        "tags" : [ "SubAccounts" ],
        "summary" : "Updates a subAccount.",
        "description" : "Updates a subaccount with information specified in the parameters.",
        "operationId" : "api.account.subAccounts.put",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The subAccount to be updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubAccount"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Validation error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/passwordPolicy" : {
      "get" : {
        "tags" : [ "Password Policy" ],
        "summary" : "Retrieves the settings for a password policy.",
        "description" : "A password policy defines the settings that are to be used when creating a password for an account. For example, the following settings may be retrieved&#58; * The minimum number of days before a password can be changed * The number of passwords the system will store in its history * The number of days until the password expires * Whether or not a password expiry notification will be sent, and the number of days prior to sending the password * The minimum password length * Password requirements (minimum password length, special characters, etc.)",
        "operationId" : "api.passwordPolicy.get",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PasswordPolicy"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Password Policy" ],
        "summary" : "Updates the settings for a password policy.",
        "description" : "Updates the settings for a password policy.",
        "operationId" : "api.passwordPolicy.put",
        "requestBody" : {
          "description" : "Password policy settings",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PasswordPolicy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        } ]
      }
    },
    "/api/account/senders" : {
      "get" : {
        "tags" : [ "Senders" ],
        "summary" : "Retrieves a list of the users in an account.",
        "description" : "Retrieves a list of the users in an account. Optional query parameters can be used to filter the list. By default, only one sender is retrieved. To retrieve additional users you must modify the “to” and “from” parameters, where each number in the parameter corresponds to a user. For example: to = 3 from = 10 Will return users 3 to 10 in the user list.",
        "operationId" : "api.account.senders.get",
        "parameters" : [ {
          "name" : "search",
          "in" : "query",
          "description" : "Any text which is going to be used in conjunction with the searchtype if provided",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The first record that will be returned. Useful for pagination.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "The last record that will be returned. Useful for pagination.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dir",
          "in" : "query",
          "description" : "The direction according to which the data will be sorted. 'asc' for ascending and 'desc' for descending.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "asc", "desc" ]
          }
        }, {
          "name" : "roleId",
          "in" : "query",
          "description" : "The unique role id for a category of senders.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Senders" ],
        "summary" : "Creates a new user in an account.",
        "description" : "Creates a new user in an account.",
        "operationId" : "api.account.senders.post",
        "requestBody" : {
          "description" : "The account payload.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Sender"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Sender"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/senders/{senderId}" : {
      "get" : {
        "tags" : [ "Senders" ],
        "summary" : "Retrieves detailed Account information about a user.",
        "description" : "Retrieves detailed Account information about a specified user.",
        "operationId" : "api.account.senders._senderId.get",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Sender"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Senders" ],
        "summary" : "Updates a Sender's details.",
        "description" : "Updates or modifies detail information for a specified Sender.",
        "operationId" : "api.account.senders._senderId.post",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        }, {
          "name" : "rawSignatureCapture",
          "in" : "query",
          "description" : "If set to true, the authograph signatures will be provided as a vector.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "description" : "The custom field to be updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Sender"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Sender"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Senders" ],
        "summary" : "Deletes a Sender from the account.",
        "description" : "Deletes a specified Sender from an account.",
        "operationId" : "api.account.senders._senderId.delete",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/senders/{senderId}/invite" : {
      "post" : {
        "tags" : [ "Senders" ],
        "summary" : "Invites a user to join the account.",
        "description" : "Sends an email invitation to a user. The user will receive an invitation link and a token identifying the account.",
        "operationId" : "api.account.senders._senderId.invite.post",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Sender"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/senders/{senderId}/password" : {
      "post" : {
        "tags" : [ "Senders" ],
        "summary" : "Updates a Sender's password.",
        "description" : "Helps users update or change their account password. Users can only modify their own password.",
        "operationId" : "api.account.senders._senderId.password.post",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        }, {
          "name" : "rawSignatureCapture",
          "in" : "query",
          "description" : "If set to true, the authograph signatures will be provided as a vector.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "description" : "The custom field to be updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Credentials"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Sender"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "403" : {
            "description" : "Access Denied error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/senders/{senderId}/resetpassword" : {
      "post" : {
        "tags" : [ "Senders" ],
        "summary" : "Resets the password for a specified user.",
        "description" : "Sends an email to a specified user, so that they can set a new password.",
        "operationId" : "api.account.senders._senderId.resetpassword.post",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Sender"
                }
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "403" : {
            "description" : "Access Denied error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/senders/{senderId}/delegates/{delegateId}" : {
      "post" : {
        "tags" : [ "Delegates" ],
        "summary" : "Adds delegates to a Sender.",
        "description" : "A delegate can: (1) access the delegator's inbox, drafts, layouts, and templates; (2) sign documents on behalf of the delegator.",
        "operationId" : "api.account.senders._senderId.delegates.delegateId.post",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        }, {
          "name" : "delegateId",
          "in" : "path",
          "description" : "The unique delegateId id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ibwzXn69GF0J"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Delegates" ],
        "summary" : "Deletes a delegate from a specified Sender.",
        "description" : "Deletes a delegate. The delegate will no longer be able to: (1) access the delegator's inbox, drafts, layouts, and templates; (2) sign documents on behalf of the delegator.",
        "operationId" : "api.account.senders._senderId.delegates.delegateId.delete",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        }, {
          "name" : "delegateId",
          "in" : "path",
          "description" : "The unique delegateId id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "ibwzXn69GF0J"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/senders/{senderId}/signature/image" : {
      "get" : {
        "tags" : [ "Senders" ],
        "summary" : "Retrieves a user's default signature image.",
        "description" : "Retrieves the image that is being used by a recipient as their default signature when signing a transaction.",
        "operationId" : "api.account.senders._senderId.signature.image.get",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SignatureImage"
                }
              }
            }
          },
          "400" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Senders" ],
        "summary" : "Uploads a default signature image.",
        "description" : "Uploads an image to be used by a recipient as their default signature when signing a transaction.",
        "operationId" : "api.account.senders._senderId.signature.image.post",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "requestBody" : {
          "description" : "The sample payload.",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/signature_image_body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Senders" ],
        "summary" : "Deletes a user's default signature image.",
        "description" : "Deletes the image that is being used by a recipient as their default signature when signing a transaction.",
        "operationId" : "api.account.senders._senderId.signature.image.delete",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/senders/{senderId}/notaryCommission" : {
      "get" : {
        "tags" : [ "Notary Commission" ],
        "summary" : "Retrieves notary commission information for a sender.",
        "description" : "Retrieves notary commission information for a sender.",
        "operationId" : "api.account.senders._senderId.notaryCommission.get",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotaryCommission"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Notary Commission" ],
        "summary" : "Updates notary commission information for a sender.",
        "description" : "Updates notary commission information for a sender.\nTo use this feature you must have Notary Management System enabled on your account.",
        "operationId" : "api.account.senders._senderId.notaryCommission.put",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "requestBody" : {
          "description" : "Notary Commission payload.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NotaryCommission"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Notary Commission" ],
        "summary" : "Deletes notary commission information for a sender.",
        "description" : "Deletes notary commission information for a sender.",
        "operationId" : "api.account.senders._senderId.notaryCommission.delete",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/senders/{senderId}/notaryCommission/seal" : {
      "get" : {
        "tags" : [ "Notary Commission" ],
        "summary" : "Retrieves the image of notary commission's seal for specified user.",
        "description" : "Retrieves the image of notary commission's seal for specified user.",
        "operationId" : "api.account.senders._senderId.notaryCommission.seal.get",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotaryCommissionSeal"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Notary Commission" ],
        "summary" : "Updates the image of notary commission's seal for specified user.",
        "description" : "Uploads the image of notary commission's seal for specified user.\nTo use this feature you must have Notary Management System enabled on your account.",
        "operationId" : "api.account.senders._senderId.notaryCommission.seal.deletes",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "requestBody" : {
          "description" : "The sample payload.",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/notaryCommission_seal_body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Notary Commission" ],
        "summary" : "Deletes the image of notary commission's seal for specified user.",
        "description" : "Deletes the image of notary commission's seal for specified user.",
        "operationId" : "api.account.senders._senderId.notaryCommission.seal.delete",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/senders/{senderId}/delegates" : {
      "get" : {
        "tags" : [ "Delegates" ],
        "summary" : "Retrieves a list of users who have been designated as delegates for a specified user.",
        "description" : "Retrieves a list of users who have been designated as delegates for a specified user. A delegate can: (1) access the delegator's inbox, drafts, layouts, and templates; (2) sign documents on behalf of the delegator. ",
        "operationId" : "api.account.senders._senderId.delegates.get",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Sender"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Delegates" ],
        "summary" : "Adds delegates to a specified user.",
        "description" : "A delegate can&#58; (1) access the delegator's inbox, drafts, layouts, and templates; (2) sign documents on behalf of the delegator. <p>All currently existing delegates will be replaced with delegates provided in a request body</p> <p>Request body can have one of two formats:</p> <ul> <li>array of string</li> <li>array of DelegationUser</li> </ul> <p>Examples:</p> <p>* array of string</p> <code> [ \"userUid1\", \"userUid2\", \"userUid3\" ] </code> <p> * array of DelegationUser</p> <code> [ { \"id\"&#58; \"userUid1\", \"expiryDate\"&#58; \"2020-05-30\" }, { \"id\"&#58; \"userUid2\", \"expiryDate\"&#58; \"2020-05-20\" }, \"userUid3\" ] </code> <p>String with user UID only, like \"userUid3\" above, will be deserialized to DelegationUser.</p>",
        "operationId" : "api.account.senders._senderId.delegates.put",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "requestBody" : {
          "description" : "The custom field to be updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/DelegationUser"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Delegates" ],
        "summary" : "Deletes all delegates from a Sender.",
        "description" : "Deletes all delegates that have been specified for a Sender. Delegates will no longer be able to  (1) access the delegator's inbox, drafts, layouts, and templates; (2) sign documents on behalf of the delegator. ",
        "operationId" : "api.account.senders._senderId.delegates.delete",
        "parameters" : [ {
          "name" : "senderId",
          "in" : "path",
          "description" : "The unique sender id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "lEuqLqc6ZzA6"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/usage" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Retrieves account usage.",
        "description" : "Retrieves the account usage.",
        "operationId" : "api.account.usage.get",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountUsage"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/layouts" : {
      "get" : {
        "tags" : [ "Layouts" ],
        "summary" : "Retrieves a list of available layouts.",
        "description" : "Retrieves a list of existing layouts. The list can be filtered and sorted by various criteria.\nBy default, this call will return layouts of the API caller.\nWhen specifying either the ownerUserId or ownerEmail query parameter, this call will return the layouts of the specified user.\nTo retrieve other users' layouts, you must have the Roles and Permissions feature enabled on your account and the API caller must have the Manage users’ transactions, templates, layouts permission.\nTo enable Roles and Permissions, contact your OneSpan Sales Representative.",
        "operationId" : "api.layouts.get",
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "The folder to search for. If not set, it will search in all folders.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "drafts", "inbox", "trashed" ]
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "If a template is needed, set to TEMPLATE.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TEMPLATE" ]
          }
        }, {
          "name" : "search",
          "in" : "query",
          "description" : "Any text which is going to be used in conjunction with the searchtype, if provided.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchtype",
          "in" : "query",
          "description" : "When empty, a wildcard search will be done in the layout name and description for the search value,  otherwise the allowable values will make more restrictive searches.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "exact", "exactname" ]
          }
        }, {
          "name" : "visibility",
          "in" : "query",
          "description" : "The visibility used to search for the layout.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "ACCOUNT", "SENDER" ]
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "The first record that will be returned. Useful for pagination.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "The last record that will be returned. Useful for pagination.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dir",
          "in" : "query",
          "description" : "The direction according to which the data will be sorted. 'asc' for ascending and 'desc' for descending.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "asc", "desc" ]
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The field according to which the data will be sorted.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "created", "updated", "name" ]
          }
        }, {
          "name" : "summary",
          "in" : "query",
          "description" : "If set to true, the response contains just a summary of the layouts. Otherwise, the response contains the full objects.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "ownerUserId",
          "in" : "query",
          "description" : "The transaction owner user's ID. Indicate the target user to search on.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ownerEmail",
          "in" : "query",
          "description" : "The transaction owner's email address. Indicate the target user to search on.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json; esl-api-version=11" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "403" : {
            "description" : "Access Denied error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Layouts" ],
        "summary" : "Creates a new layout.",
        "description" : "Creates a new layout.",
        "operationId" : "api.layouts.post",
        "requestBody" : {
          "description" : "Layout information.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PackageLayout"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json; esl-api-version=11" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Package"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/groups" : {
      "get" : {
        "tags" : [ "Groups" ],
        "summary" : "Retrieves a list of all Groups in an account.",
        "description" : "Retrieves a list of all groups in an Account. Results are returned as a list of groups, and not as a simple group. Note that results can be returned in a paginated form if the  'from', 'to' and 'dir' query parameters are used.",
        "operationId" : "api.groups.get",
        "parameters" : [ {
          "name" : "from",
          "in" : "query",
          "description" : "The first record that will be returned. Useful for pagination.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "The last record that will be returned. Useful for pagination.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dir",
          "in" : "query",
          "description" : "The direction according to which the data will be sorted. 'asc' for ascending and 'desc' for descending.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "asc", "desc" ]
          }
        }, {
          "name" : "requestType",
          "in" : "query",
          "description" : "If the request type is manager, return only the groups that the request user is a manager of.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "manager" ]
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "The name of the groups to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Groups" ],
        "summary" : "Creates a new Group using the specified parameters.",
        "description" : "If specified, the id must be alphanumeric, and unique.",
        "operationId" : "api.groups.post",
        "requestBody" : {
          "description" : "Group information.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/groups/summary" : {
      "get" : {
        "tags" : [ "Groups" ],
        "summary" : "Retrieves summaries for all groups in the current account.",
        "description" : "Retrieves basic information for all groups in the current account.",
        "operationId" : "api.groups.summary",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/groups/{groupId}" : {
      "get" : {
        "tags" : [ "Groups" ],
        "summary" : "Retrieves a Group.",
        "description" : "Retrieves detailed information about a specified group.",
        "operationId" : "api.groups._groupId.get",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "The unique group id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "dc7eac8b-3425-4716-a5a4-df74810d928b"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Group Id",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "The requested group could not be found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Groups" ],
        "summary" : "Updates an existing Group.",
        "description" : "Updates the members that are included in a specified Group. Updates can include adding and removing members. Updates can also change other Group information.",
        "operationId" : "api.groups._groupId.put",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "The unique group id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "dc7eac8b-3425-4716-a5a4-df74810d928b"
          }
        } ],
        "requestBody" : {
          "description" : "Group information.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          },
          "400" : {
            "description" : "The group name is already in use.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "403" : {
            "description" : "Operation not allowed. Only Managers of this Account or Group can update the Group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "Either one of the members of the group could not be found in the system, or the requested group could not be found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Groups" ],
        "summary" : "Deletes an existing Group.",
        "description" : "Deletes an existing Group from the account.",
        "operationId" : "api.groups._groupId.delete",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "The unique group id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "dc7eac8b-3425-4716-a5a4-df74810d928b"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "Requested group could not be found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/groups/{groupId}/invite" : {
      "post" : {
        "tags" : [ "Groups" ],
        "summary" : "Invites an existing sender to join the Group.",
        "description" : "Invites an existing account sender to join the Group.",
        "operationId" : "api.groups._groupId.invite.post",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "The unique group id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "dc7eac8b-3425-4716-a5a4-df74810d928b"
          }
        } ],
        "requestBody" : {
          "description" : "Group information.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/User"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Group Id",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "Requested group could not be found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/groups/{groupId}/members" : {
      "post" : {
        "tags" : [ "Groups" ],
        "summary" : "Invites a new sender to the Group.",
        "description" : "Invites a sender who is not yet part of any account to join a group. The invitee will initially be prompted to register as an account sender.",
        "operationId" : "api.groups._groupId.members.post",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "description" : "The unique group id.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "dc7eac8b-3425-4716-a5a4-df74810d928b"
          }
        } ],
        "requestBody" : {
          "description" : "The new group member.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GroupMember"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                }
              }
            }
          },
          "400" : {
            "description" : "Either both the id and the email of the group member weren't provided, or the groupId is invalid.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "404" : {
            "description" : "Either one of the members of the group could not be found in the system, or the requested group could not be found.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      }
    },
    "/api/account/signingThemes" : {
      "get" : {
        "tags" : [ "Account Signing Themes" ],
        "summary" : "Retrieves a customized signing theme.",
        "description" : "Retrieves a customized signing theme so that it can be used. A customized signing theme is a signing theme that was designed by your organization using, for example, your corporate branding.",
        "operationId" : "api.account.signingThemes.get",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SigningThemesConfig"
                }
              }
            }
          },
          "400" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Account Signing Themes" ],
        "summary" : "Update an existing customized signing theme.",
        "description" : "Updates an existing customized signing theme. A customized signing theme is a signing theme that was designed by your organization using, for example, your corporate branding.",
        "operationId" : "api.account.signingThemes.put",
        "requestBody" : {
          "description" : "The sample Signing Themes payload.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SigningThemesConfig"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "401" : {
            "description" : "Not Authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DefaultError"
                }
              }
            }
          }
        },
        "security" : [ {
          "ApiKeyAuth" : [ ]
        }, {
          "ApiTokenAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Account Signing Themes" ],
[...]
