<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\7.0.202\DotnetTools\dotnet-watch\7.0.202-servicing.23128.1\tools\net7.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44346/IO.Swagger/,ws://localhost:64540/IO.Swagger/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuQZuMQhwFYsOFyLcRCa5BXl9uB8Vof57bVQs1JFjs9ZpG68kX3I9IIYX4y/OUAxCovbEWTBwwB1HFKvQaz2WQzoNYds8M7aWbCi5BKO8cYAqBQ9Cuoy46ncD1dPvms0jDKeOJhm8fB/wEnRxheqFlJ641CsE1HcZqY2pUuITS9bCG/mH6ntn9qZenTnw+FhEsN7fpqGHrPI/osDrR4yIxCVpW6e2ASzY6T+Q69tpyHyokNCwnXAD6qo9LqGZuVnDtXhgghf/DkizCAQn8yO2vjNOm4UKcnlr8KfLY4QYwhIwp+JVX3JAcTXkZIqaM8FAdhdyrkkEEjWP4fvY6tLSQQIDAQAB" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="c7db2b36-0091-449c-96b5-118314d0b6e4" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>